.header {
  background-color: #F0EAD6;
  padding: 0.75rem;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #333333;
}

.header-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  color: #333333;
}

.nav-links {
  display: flex;
  padding-top: 0.3em;
  gap: 2rem;

  a {
    font-size: 1rem;
    color: #333333;
    text-decoration: none;
  }

  a.active {
    color: #000080;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    text-shadow: 1px 0 0 #000080;
  }

  a:hover {
    cursor: pointer;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
  }
}
