.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #F0EAD6;
  color: #333333;

  div {
    flex: 1;
    width: 100%;
  }
}

.div-one {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 2em 4em;

  .div-one-text {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    flex-shrink: 0;

    .title {
      display: flex;
      flex-direction: column;
      font-size: 48px;
      font-weight: 900;
      margin: 0;

      p {
        margin: 0;
      }
    }
  }

  .div-one-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8B93A0;
    max-width: 40%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.div-two {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .div-two-header {
    display: flex;
    align-self: center;
    max-width: fit-content;

    p {
      font-size: 36px;
      font-weight: 900;
    }

  }

  .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;

    .box-one,
    .box-two,
    .box-three,
    .box-four {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 300px;

      .image {
        width: 150px;
        height: 150px;
        border: 4px solid #333333;
        border-radius: 16px;
        margin-bottom: 16px;
        flex-shrink: 0;
        background-color: white;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 16px;
        }
      }

      .image-text {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        width: 25%;
      }
    }
  }

}

.div-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E5E7EB;

  .div-three-text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 300;
    max-width: 35%;

    p {
      margin-bottom: 0;
    }
  }
}
