<div class="main-content-container">
  <div class="div-one">
    <div class="div-one-text">
      <div class="title">
        <p>Hi there! I'm</p>
        <p class="name">Charles Hook.</p>
        <p>Full-Stack Java Developer!</p>
      </div>
    </div>
    <div class="div-one-image">
      <img src="/assets/programming-image-1.jpg" alt="A cool, colorful image about programming!">
    </div>
  </div>
  <div class="div-one">
    <div class="div-one-image">
      <img src="/assets/programming-image-2.jpg" alt="A cool, colorful image about programming!">
    </div>
    <div class="div-one-text">
      <div class="title">
        <p>Welcome to my showcase!</p>
      </div>
      <div class="sub-text">
        <p>Feel free to stay awhile and look around! This website was made using Angular standalone components, and is fully reactive via Flexbox and CSS Grid!</p>
      </div>
    </div>
  </div>
  <div class="div-two">
    <div class="div-two-header">
      <p>My Top Skills</p>
    </div>
    <div class="boxes">
      <div class="box-one">
        <div class="image">
          <img src="/assets/java-icon.png" alt="Java!">
        </div>
        <div class="image-text">
          <p>Java!</p>
        </div>
      </div>
      <div class="box-two">
        <div class="image">
          <img src="/assets/c-sharp-icon.png" alt="C Sharp!">
        </div>
        <div class="image-text">
          <p>C Sharp!</p>
        </div>
      </div>
      <div class="box-three">
        <div class="image">
          <img src="./assets/spring-boot-icon.png" alt="Spring Boot!">
        </div>
        <div class="image-text">
          <p>Spring Boot!</p>
        </div>
      </div>
      <div class="box-four">
        <div class="image">
          <img src="/assets/angular-icon.png" alt="Angular!">
        </div>
        <div class="image-text">
          <p>Angular!</p>
        </div>
      </div>
    </div>
  </div>
</div>
