<div class="main-content-container">
    <div class="div-one">
        div 1
    </div>
    <div class="div-two">
        div 2
    </div>
    <div class="div-three">
        div 3
    </div>
    <div class="div-four">
        <div class="cta-div">
            <div class="cta-text">
                <h2>Call to action! It's time</h2>
                <p>Sign up for our products by clicking that button right over there!</p>
            </div>
            <button>Sign Up</button>
        </div>
    </div>
</div>